@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
    background: #222222;
    color: #ffffff;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: stretch;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#main {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: stretch;
    flex-grow: 1;
}

#app {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: stretch;
    flex-grow: 1;
}

#console {
    font-family: 'Ubuntu Mono', monospace;
    margin: 45px;
    margin-top: 35px;
    padding: 10px;
    border: 1px #fff solid;
    border-top: 10px #fff solid;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

.console-line {
    display: flex;
    flex-direction: row;
    line-height: 1.25em;
    white-space: pre-line;
}

.console-line input{
    background: none;
    border: 0;
    color: inherit;
    font-family: inherit;
    flex-grow: 1;
    padding: 0;
    font-size: inherit;
}

.console-line input:focus {
    border: 0;
    outline: 0;
}